[Unit]
Description=sing-box service
Documentation=https://sing-box.sagernet.org
After=network-online.target sing-box-tproxy.service
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/usr/local/sbin/refresh-sing-box-runtime-config
ExecStart=/usr/local/bin/sing-box run -c /etc/sing-box/config.json
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
